name: Failure Test
on:
  workflow_dispatch:

jobs:
  success-job:
    name: Job will succeeed
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - run: ls -a
        name: Run ls immediately after checkout
      - name: Failed step
        shell: bash
        run: exit 1
      - name: Log something
        if: failure()
        run: echo "I'll be executed"
      - run: ls -a
        name: ls after failure
#       - name: checkout
#         uses: actions/checkout@v2
#         if: failure()
      - name: external action
        uses: hmarr/debug-action@v2
        if: failure()
      - name: Printout Step
        if: failure()
        uses: ./.github/actions/dummy-action
