name: Failure Test
on:
  workflow_dispatch:

jobs:
  success-job:
    name: Job will succeeed
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
 
      - name: Failed step
        shell: bash
        run: exit 1
      - name: Log something
        if: failure()
        run: echo "I'll be executed"
      - name: external action
        uses: actions/github-script@v4
        with:
          script: console.log("I run");
        if: failure()
      - name: Printout Step
        if: failure()
        uses: ./.github/actions/dummy-action
      - name: Printout Step2
        if: failure()
        uses: ./actions
      - name: Printout Step3
        if: failure()
        uses: wechorg/testing-actions/actions@master
      - name: Test Composite external
        if: failure()
        uses: wechorg/hello-world-composite-run-steps-action@main
        with:
          who-to-greet: Paul
